<ion-content>
  <br>
  <ion-item lines="none">
  <ion-card>
    <br><br><br><br><br><br>
    <ion-card-content>
      <br><br>
      <ion-card-title>Congratulations!</ion-card-title>
      <br><br><br><br>
      <ion-icon color="success" style="zoom:6.0" name="checkmark-done-circle-outline"></ion-icon>
      <ion-card-title>Your payment was a success</ion-card-title>
    </ion-card-content>
    <br><br>
    <ion-button routerLink="/home/profile" color="success" shape="round" fill="outline">See your Orders</ion-button>
  </ion-card>
</ion-item>
</ion-content>
