<ion-header class="action-button">
  <ion-toolbar class="login-button">
    <ion-title>Deliveries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <h1 routerLink="/payments">Free Delivery</h1>
    </ion-item>
  
    <ion-card-content>
      <p>You spend more than R450</p>
      <p>You qualify for a free delivery.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <h1 routerLink="/payments">Standard Delivery</h1>
    </ion-item>
  
    <ion-card-content>
      <p>Standard delivery takes about 3-5 working days</p>
      <p>Standard delivery costs about R15/km</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <h1 routerLink="/payments">Express Delivery</h1>
    </ion-item>
  
    <ion-card-content>
      <p>Express delivery takes about 1-2 working days</p>
      <p>Express delivery costs about R30/km</p>
    </ion-card-content>
  </ion-card>
</ion-content>
