<ion-header class="action-button">
  <ion-toolbar class="login-button">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Deliveries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <h1 routerLink="/outlets">Colletct</h1>
    </ion-item>

    <ion-card-content>
      <p>Collect at our outlets</p>
    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-item>
      <h1 routerLink="/address/3">Standard Delivery</h1>
    </ion-item>

    <ion-card-content>
      <p>Standard delivery takes about 3-5 working days</p>
      <p>Standard delivery costs about R65</p>
    </ion-card-content>
  </ion-card>


</ion-content>
