<ion-header>
  <ion-toolbar>
    <ion-title>Customer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="selectTabs">
    <ion-segment-button value="list">
      <ion-label>Profiles</ion-label>
      <ion-icon name="person"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="registrar">
      <ion-label>Registrar</ion-label>
      <ion-icon name="document-text"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectTabs === 'list'">
  <ion-list>
    <ion-list-header> Customer list </ion-list-header>

    <ion-item>
      <ion-label>
        <h2>Finn</h2>
        <h3>Finn@mail.com</h3>
      </ion-label>
      <ion-buttons slot="end">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-buttons>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Han</h2>
        <h3>Han@mail.com</h3>
      </ion-label>
      <ion-buttons slot="end">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-buttons>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Rey</h2>
        <h3>Rey@mail.com</h3>
      </ion-label>
      <ion-buttons slot="end">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-buttons>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Luke</h2>
        <h3>luke@mail.com</h3>
      </ion-label>
      <ion-buttons slot="end">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-buttons>
    </ion-item>
  </ion-list>
</div>

<div *ngIf="selectTabs === 'registrar'">
  <form #f="ngForm" >
    <div class="login-section ion-padding" >
      <div class="heading ion-padding">
        <h1>Create an Account!</h1>
      </div>
      <div class="login-form ion-padding">
        <div class="form-input">
          <ion-icon color="light" name="person-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">NAME</ion-label>
            <ion-input type="text"
            #name="ngModel"
              type="text"
              minlength="5"
              name="name"
              [(ngModel)]="regForm.name"
              required>
            </ion-input>
          </ion-item>
          <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors?.required">Name required</div>
            <div *ngIf="name.errors?.minlength">Invalid minLength</div>
          </div>
        </div>
        <div class="form-input">
          <ion-icon color="light" name="person-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">SURNAME</ion-label>
            <ion-input type="text"
            #surname="ngModel"
              type="text"
              minlength="5"
              name="surname"
              [(ngModel)]="regForm.surname"
              required>
            </ion-input>
          </ion-item>
          <div class="alert alert-danger" *ngIf="surname.invalid && (surname.dirty || surname.touched)">
            <div *ngIf="surname.errors?.required">Surname required</div>
            <div *ngIf="surname.errors?.minlength">Invalid minLength</div>
          </div>
        </div>
        <div class="form-input">
          <ion-icon color="light" name="mail-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">EMAIL</ion-label>
            <ion-input type="email"
            #email="ngModel"
              type="email"
              minlength="5"
              name="email"
              pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{3,}"
              [(ngModel)]="regForm.email"
              required>
            </ion-input>
          </ion-item>
          <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors?.required">Email required</div>
            <div *ngIf="email.errors?.minlength">Invalid minLength</div>
            <div *ngIf="email.errors?.pattern">Invalid email format</div>
          </div>
        </div>
        <div class="form-input">
          <ion-icon color="light" name="lock-closed-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">PASSWORD</ion-label>
            <ion-input type="password"
            #password="ngModel"
            type="password"
            minlength="5"
            match="checkP()"
            name="password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            [(ngModel)]="regForm.password"
            required>
          </ion-input>
          </ion-item>
          <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
            <div *ngIf="password.errors?.required">Password required</div>
            <div *ngIf="password.errors?.minlength">Invalid minLength</div>
            <div *ngIf="password.errors?.pattern">
              <h3>Password must contain the following:</h3>
              <p id="letter1" class="invalid">A <b>lowercase</b> letter</p>
              <p id="capital1" class="invalid">A <b>capital (uppercase)</b> letter</p>
              <p id="number1" class="invalid">A <b>number</b></p>
              <p id="length1" class="invalid">Minimum <b>8 characters</b></p>
            </div>
          </div>
        </div>
        <div class="form-input">
          <ion-icon color="light" name="lock-closed-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">CONFIRM PASSWORD</ion-label>
            <ion-input type="password"
            #conPassword="ngModel"
            type="password"
            minlength="5"
            name="conPassword"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            [(ngModel)]="regForm.conPassword"
            required>
            </ion-input>
          </ion-item>
          <div class="alert alert-danger" *ngIf="conPassword.invalid && (conPassword.dirty || conPassword.touched)">
            <div *ngIf="conPassword.errors?.required">Password required</div>
            <div *ngIf="conPassword.errors?.minlength">Invalid minLength</div>
            <div *ngIf="conPassword.errors?.pattern">
              <h3>Password must contain the following:</h3>
              <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
              <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
              <p id="number" class="invalid">A <b>number</b></p>
              <p id="length" class="invalid">Minimum <b>8 characters</b></p>
            </div>
          </div>
        </div>
      </div>
      <div class="action-button ion-padding">
        <ion-button size="large" class="login-button" (click)="signup()" [disabled]="!f.valid">Create User</ion-button>
      </div>

    </div>
  </form>
</div>

</ion-content>
