<ion-content>
  <div class="header">
    <h1>Menu</h1>
    <div class="avatar">
      <ion-icon (click)="logout()" name="log-out-outline" style="zoom:2.0"></ion-icon>
    </div>
  </div>

  <!--<app-searchbar></app-searchbar>-->

  <div>
    <!-- <div class="categories">
      <app-category-item
        *ngFor="let item of categories"
        [item]="item"
      ></app-category-item>
    </div> -->

    <div class="input">
      <input
        #searchQ
        (keyup)="search($event)"
        class="searchbar-search-icon"
        placeholder="search"
        name="searchQ"
      />
    </div>

    <h1 class="list-header">Popular</h1>

    <div class="food-list">
      <app-food-card
        *ngFor="let food of foods"
        [item]="food"
      ></app-food-card>
    </div>
  </div>
</ion-content>
