<ion-header class="action-button">
  <ion-toolbar class="login-button">
    <ion-title>Wish-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item-sliding  *ngFor="let wish of wishes">

       <ion-item>
        <div class="cart-item">
          <div class="image">
            <ion-img [src]="wish.item.image"></ion-img>
          </div>

          <div class="description">
            <h3>{{wish.item.title}}</h3>
            <p><sup>R</sup>{{wish.item.price | number: '1.2'}}</p>
          </div>
          <ion-icon (click)="moveToCart(wish)" style="zoom:2.0;" color="medium" slot="icon-only" name="add-circle-outline"></ion-icon>
        </div>

      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="removeFromCart(wish)">
          <ion-icon name="trash-outline" size="large" color="danger"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
   </ion-list>

</ion-content>
