<ion-header>
  <ion-toolbar>
    <ion-title>Order Preview</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<br><br>
  <ion-list lines="none">
       <ion-item>
        <div class="cart-item">
          <div class="image">
            <ion-img [src]=""></ion-img>
          </div>

          <div class="description">
            <h3>Title</h3>
            <p><sup>R</sup>{{2000| number: '1.2'}}</p>
          </div>
        </div>
      </ion-item>
   </ion-list>

</ion-content>
