<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Order Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-icon name="information-circle"></ion-icon>
      <ion-button fill="outline" color="dark"># {{orderNum}}</ion-button>
    </ion-item>

    <ion-card-header>
      <ion-card-subtitle>Estimated Delivery/Collection date: {{demo | date}}</ion-card-subtitle>
      <ion-card-title>Order details</ion-card-title>
    </ion-card-header>

    <ion-card-header>
      <ion-card-subtitle>Order Summary</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{len}} Items <br>
      Delivery: <span><sup>R</sup>{{0 |number: '1.2'}}</span><br>
      Total: <span><sup>R</sup>{{ sum |number: '1.2'}}</span>
    </ion-card-content>
    <!-- <ion-card-header>
      <ion-card-subtitle>Address</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <br>
      {{address.town}}<br>
      0152
    </ion-card-content> -->

  </ion-card>

  <ion-row>
    <ion-col>
          <ion-row class="ion-justify-content-center">
            <ion-button (click)="checkOut()" shape="round">Proceed to pay</ion-button>
          </ion-row>
    </ion-col>
  </ion-row>

</ion-content>
