<ion-header class="action-button">
  <ion-toolbar class="login-button">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  #f="ngForm">
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>User-Address</h1>
      <p>Select your nearest town to Checkout</p>
    </div>
    <div class="login-form ion-padding">
      <ion-item>
        <ion-label>Select Town</ion-label>
        <ion-select name="town"
        [(ngModel)]="adForm.town"
        #town="ngModel" (ngModelChange)="getTown(adForm)">
          <ion-select-option value="Pretoria central">Pretoria central</ion-select-option>
          <ion-select-option value="Pretoria north">Pretoria north</ion-select-option>
          <ion-select-option value="Pretoria west">Pretoria west</ion-select-option>
          <ion-select-option value="Mabopane">Mabopane</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input #dis="ngModel"
        [(ngModel)]="adForm.dis"
        name="distance"
        (ngModelChange)="getTown(adForm)"><span><sup>R</sup>{{dCost |number: '1.2'}}</span></ion-input>
      </ion-item>
    </div>
    <div class="action-button ion-padding">
      <ion-button (click)="saveAddress()" size="large" shape="round" class="login-button" [disabled]="!f.valid">Save</ion-button>
    </div>

  </div>

</form>
</ion-content>
