<ion-header class="action-button">
  <ion-toolbar class="login-button">
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment [(ngModel)]="selectTabs">
    <ion-segment-button value="profile">
      <ion-label color="light">Profile</ion-label>
      <ion-icon color="light" name="person"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="orders">
      <ion-label color="light">Orders</ion-label>
      <ion-icon color="light" name="document-text"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="supplier">
      <ion-label color="light">Supplier</ion-label>
      <ion-icon color="light" name="terminal-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectTabs === 'profile'">
    <div>
      <h3>Personal Details</h3>
    </div>

    <form  #f="ngForm">
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-item lines="full">
              <ion-input value="{{data.name}}" disabled readonly></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col size="10">
            <ion-item lines="full">
              <ion-input value="{{data.surname}}" disabled readonly></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col size="10">
            <ion-item lines="full">
              <ion-input value="{{data.email}}" disabled readonly></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col size="10">
            <ion-item lines="full">
              <ion-label position="floating">PASSWORD</ion-label>
          <ion-input type="password"
          #password="ngModel"
          type="password"
          minlength="5"
          match="checkP()"
          name="password"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          [(ngModel)]="regForm.password"
          required>
        </ion-input>
            </ion-item>
            <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
              <div *ngIf="password.errors?.required">Password required</div>
              <div *ngIf="password.errors?.minlength">Invalid minLength</div>
              <div *ngIf="password.errors?.pattern">
                <h3>Password must contain the following:</h3>
                <p id="letter1" class="invalid">A <b>lowercase</b> letter</p>
                <p id="capital1" class="invalid">A <b>capital (uppercase)</b> letter</p>
                <p id="number1" class="invalid">A <b>number</b></p>
                <p id="length1" class="invalid">Minimum <b>8 characters</b></p>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col size="10">
            <ion-item lines="full">
              <ion-label position="floating">CONFIRM PASSWORD</ion-label>
          <ion-input type="password"
          #conPassword="ngModel"
          type="password"
          minlength="5"
          name="conPassword"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          [(ngModel)]="regForm.conPassword"
          required>
          </ion-input>
            </ion-item>
            <div class="alert alert-danger" *ngIf="conPassword.invalid && (conPassword.dirty || conPassword.touched)">
              <div *ngIf="conPassword.errors?.required">Password required</div>
              <div *ngIf="conPassword.errors?.minlength">Invalid minLength</div>
              <div *ngIf="conPassword.errors?.pattern">
                <h3>Password must contain the following:</h3>
                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid">A <b>number</b></p>
                <p id="length" class="invalid">Minimum <b>8 characters</b></p>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div *ngIf="errors.length > 0" class="alert alert-danger">
        <p *ngFor="let error of errors">
          {{error}}
        </p>
      </div>
      <br><br><br>
      <ion-button [disabled]="!f.valid" (click)="changePassword()" size="large" expand="full" fill="outline" shape="round">
        UPDATE PROFILE
      </ion-button>
    </form>
  </div>

  <div *ngIf="selectTabs === 'orders'">
    <h3>Your Orders</h3>
    <ion-card *ngFor="let order of orders">
      <ion-item>
        <h1> #{{order.orderNum}} </h1>
      </ion-item>

      <ion-card-content>
        <p>Order Date:  {{userDate(order.createdAt)}} </p>
        <p>Status: {{getSatus(order.createdAt)}}</p>
        <p>Delivery Date: {{deliveryDate(order.createdAt)}}</p>
        <p>Amount: R {{getSum(order.orderNum)}} </p>
      </ion-card-content>
    </ion-card>
  </div>



  <div *ngIf="selectTabs === 'supplier'">
    <div>
      <h3>Want to be a supplier?</h3>
    </div>

    <form  #f="ngForm">
      <ion-grid>

        <ion-row>
          <ion-col size="10">
            <div class="form-input">
              <ion-icon name="lock-closed-outline"></ion-icon>
              <ion-item>
                <ion-label position="floating">PASSWORD</ion-label>
                <ion-input type="password"
                #password="ngModel"
                type="password"
                minlength="5"
                match="checkP()"
                name="password"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                [(ngModel)]="upForm.password"
                required>
              </ion-input>
              </ion-item>
              <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.errors?.required">Password required</div>
                <div *ngIf="password.errors?.minlength">Invalid minLength</div>
                <div *ngIf="password.errors?.pattern">
                  <h3>Password must contain the following:</h3>
                  <p id="letter1" class="invalid">A <b>lowercase</b> letter</p>
                  <p id="capital1" class="invalid">A <b>capital (uppercase)</b> letter</p>
                  <p id="number1" class="invalid">A <b>number</b></p>
                  <p id="length1" class="invalid">Minimum <b>8 characters</b></p>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col size="10">
            <div class="form-input">
              <ion-icon name="lock-closed-outline"></ion-icon>
              <ion-item>
                <ion-label position="floating">CONFIRM PASSWORD</ion-label>
                <ion-input type="password"
                #conPassword="ngModel"
                type="password"
                minlength="5"
                name="conPassword"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                [(ngModel)]="upForm.conPassword"
                required>
                </ion-input>
              </ion-item>
              <div class="alert alert-danger" *ngIf="conPassword.invalid && (conPassword.dirty || conPassword.touched)">
                <div *ngIf="conPassword.errors?.required">Password required</div>
                <div *ngIf="conPassword.errors?.minlength">Invalid minLength</div>
                <div *ngIf="conPassword.errors?.pattern">
                  <h3>Password must contain the following:</h3>
                  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                  <p id="number" class="invalid">A <b>number</b></p>
                  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br><br><br>
      <ion-button [disabled]="!f.valid" (click)="requestVendorship()" size="large" expand="full" fill="outline" shape="round">
        SUBMIT REQUEST
      </ion-button>
    </form>

    <!--<ion-item>
      <ion-label position="floating">RESPONSE</ion-label>
      <ion-input disabled value="pending"></ion-input>
    </ion-item>-->
  </div>

</ion-content>
